
.whisper-content {
    padding: 40px 0 100px 0;
}
.whisper-content .cont {
    max-width: 800px;
    margin: 0 auto;
}
.whisper-content .item-box {
    margin-bottom: 20px;
}
.leacots-content .item-box {
    background: transparent;
}
.leacots-content .review-version {
    padding: 0;
    border-top: 0;
}
.leacots-content .review-version .banner-img {
    float: none;
    width: 100%;
}
.leacots-content .review-version .volume {
    color: #3f2469;
}
.leacots-content .review-version .volume span {
    padding-left: 30px;
    color: #f37d25;
}
