
.whisper-content {
    padding: 40px 0 100px 0;
}
.whisper-content .cont {
    max-width: 800px;
    margin: 0 auto;
}
.whisper-content .item-box {
    margin-bottom: 20px;
}
.leacots-content .item-box {
    background: transparent;
}
.leacots-content .review-version {
    padding: 0;
    border-top: 0;
}
.leacots-content .review-version .banner-img {
    float: none;
    width: 100%;
}
.leacots-content .review-version .form {
    text-align:right;
    margin: 70px 0;
}
.leacots-content .review-version .volume {
    color: #3f2469;
}
.leacots-content .review-version .volume span {
    padding-left: 30px;
    color: #f37d25;
}
.content .review-version .list-cont .cont {
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}
.leacots-content .review-version .list-cont .cont {
    max-width: 100%;
}
.content .review-version .list-cont .cont .text {
    padding-left: 70px;
    line-height: 22px;
    color: #333;
}
.content .review-version img {
    float: left;
}
.content .review-version .list-cont .cont .text .tit {
    margin-bottom: 18px;
}
.content .review-version .list-cont .cont .text .data {
    float: right;
}