.tagsContainer {
    width: 20%;
    margin: 40px;
    border: 1px solid #999999;
    box-sizing: border-box;
    padding: 1em;
    min-height: 150px;
}
.tagsTop i {
    margin-right: .5em;
}
.tagsTop span {
    font-family: '楷体';
}
.line {
    border: 1px solid #666666;
    height: 1px;
    width: 100%;
    margin: 1em 0;
}