.footer-wrap {
    border-top: 1px solid #e8e9e7;
}
.footer {
    padding: 20px 0 20px 0;
    position: relative;
    overflow: hidden;
}
.footer .qrcode {
    float: left;
}
.footer .qrcode img{
    width:160px;
    height:160px;
}
.footer .practice-mode {
    position: absolute;
    right: 0;
    overflow: hidden;
}
.footer .practice-mode img {
    float: left;
    padding-right: 28px;
}
.footer .practice-mode .text {
    color: #3f2863;
    float: left;
}
.footer .practice-mode .text h4 {
    font-size: 20px;
    line-height: 60px;
}
.footer .practice-mode .text p {
    line-height: 32px;
}
.footer .practice-mode .text p span {
    padding-left: 24px;
}