.slider {
    height:100%;
    width:260px;
    overflow-y: auto;
}

.article-content {
    display:flex;
    flex-direction: row;
}
.content-main {
    height: 100%;
    width: calc(100% - 300px);
    padding:20px;
    overflow: auto;
}
.content-wrap {
    width: 1000px;
    height: 100%;
}