.slider {
    height:100%;
    width:260px;
	overflow-y: auto;
	background-color: #fff;
}

.article-content {
    display:flex;
	flex-direction: row;
	background-color: #f4f5f5;
}
.content-main {
    width: calc(100% - 250px);
}