.blog-acticle {
    width: 100%;
    height: 20em;
    padding: 0.625em;
    box-sizing: border-box;
    box-shadow: 0px 20px 10px 0px rgba(0,0,0,0.5);
    position: relative;
}
.blog-acticle::after {
    content:"";
    /* background-image:url('../../Image/flowers.png'); */
    opacity:0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index:-1;
}
.acticle-top {
    display: flex;
    height: 15.75em;
    margin-bottom: .5em;
}
.acticle-top div:nth-child(1) {
    width: 40%;
    cursor: pointer;
}
.acticle-top div:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: .3em;
}
.acticle-top div:nth-child(2) {
    width: 60%;
    margin-left: 1.2em;
}
h2 {
    font-family: '楷体';
    margin: 20px 0;
    
    text-align: center;
}
h2:hover {
    color: skyblue;
    cursor: pointer;
}
.fontFamily p {
    font-family: '楷体';
    text-indent: 2em;
    line-height: 1.4em;
}
/* .time p{
    border: 1px solid #666666;
    width: 44%;
    height: 1px;
    display: inline-block;
}
.time span {
    display: inline-block;
    width: 11%;
    text-align: center;
} */
.acticle-bottom {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    border-top: 1px solid #999999;
    line-height: 2.5em;
    font-family: '华文隶书';
}
.acticle-bottom p {
    line-height: 2.5em;
}
.acticle-bottom i {
    font-size: 1.2em;
    color: #333333;
    cursor: default;
}
.acticleBtnRight span {
    font-size: 1.2em;
    color: #333333;
    cursor: default;
}
.acticleBtnLeft span {
    /* width: 3em; */
    height: 1em;
    line-height: 1em;
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    border-radius: .2em;
    margin-left: .3em;
    cursor: default;
}
.acticleBtnRight {
    width: 18em;
    display: flex;
    justify-content: space-between;
}

