.banner {
    height: 600px;
    width: 100%;
    background-size: cover;
}
.banner .cont {
    position: relative;
}
.banner .title {
    color: #fff;
    position: absolute;
    top: 152px;
    left: 0;
}
.banner .title h3 {
    color: #fff;
    font-size: 80px;
    line-height: 88px;
}
.banner .title h4 {
    color: #fff;
    font-size: 46px;
}

.banner .amount {
    font-size: 18px;
    line-height: 50px;
    color: #ff7f21;
    position: absolute;
    right: 20px;
    top: 290px;
}
.banner .text {
    position: relative;
    width: 80px;
    display: inline-block;
}
.banner .text::before {
    position: absolute;
    right: -5px;
    content: '\FF1A';
}

/* 文章内容 */
.content {
    padding: 20px 0;
}
.content .cont .title {
    margin-bottom: 60px;
}
.content .cont .title a.active, .content .cont .title a:hover {
    color: #ff7f21!important;
}
.content .cont .title a {
    font-size: 16px;
    color: #000!important;
}
.content .cont .title .layui-breadcrumb span {
    position: relative;
    top: -1px;
    margin: 0 16px;
    color: #999;
}
/* 列表 */
.content .cont .list-item .item {
	display: flex;
	flex-direction:row;
	margin: 20px 0;
	overflow: hidden;
	cursor: pointer;
	border-bottom:1px dashed #ececec;
	transition: all .5s;
	border-radius: 5px;
	padding:20px 10px;
}

.content .cont .list-item .img-wrap {
	width:200px;
	height:100px;
	overflow: hidden;
}
.content .cont .list-item .img-wrap img{
	width:100%;
	height:100%;
}
.content .cont .list-item .item .item-cont {
	width: 100%;
    padding-left: 100px;
}
.content .cont .list-item .item .item-cont .item-title {
	widows: 100%;
}
.content .cont .list-item .item .item-cont .item-title .item-title-time{
	float: right;
	color: #352c2c;
}
.content .cont .list-item .item .item-cont .item-title .new-icon {
    width: 36px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0;
    margin: -3px 0 0 10px;
}

.content .cont .list-item .item .item-cont h5 {
    font-size: 12px;
    color: #ff7f21;
    margin-bottom: 32px;
}
.content .cont .list-item .item .item-cont .item-content {
	color:#6f6f6f;
	margin-top:5px;
	font-size: 13px;
    line-height: 30px;
	display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.content .cont .list-item .item .item-cont .go-icon {
    width: 33px;
    height: 11px;
    display: block;
    padding: 10px 0;
	float: right;
}
.item-cont .op-list {
	margin-top:15px;
	cursor: pointer;
    color: #999999;
}
.item-cont .op-list>span{
	margin-right: 20px;
}
.item-cont .op-list>span>span{
	margin-right: 5px;
}

.content .cont .list-item .item:hover {
	box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.14);
}
.content .cont .list-item .item:hover .img-wrap {
	margin-left:10px;
	transition: all .5s;
}
.content .cont .list-item .item:hover .item-title-time {
	margin-right:10px;
	transition: all .5s;
}
.content .cont .list-item .item:hover .go-icon {
	margin-right:10px;
	transition: all .5s;
}