.labelSpan {
    height: 1em;
    line-height: 1em;
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    border-radius: .2em;
    /* margin-left: .3em; */
    margin: .3em;
    cursor: default;
}

.labelHover {
    height: 1em;
    line-height: 1em;
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    border-radius: .2em;
    margin: .3em;
    cursor: default;
    transition: all .3s;
}

.labelHover:hover {
    transform: scale(1.2);
}

.labelRotate {
    height: 1em;
    line-height: 1em;
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    border-radius: .2em;
    margin: .3em;
    cursor: default;
    transition: all .3s;
}
.labelRotate:hover {
    transform: rotate(10deg);
}

.labelSkew {
    height: 1em;
    line-height: 1em;
    padding: .2em;
    display: inline-block;
    border: 1px solid black;
    border-radius: .2em;
    margin: .3em;
    cursor: default;
    transition: all .3s;
}
.labelSkew:hover {
    transform: skew(-10deg,-10deg);
}


