.whisper-content {
    padding: 40px 0 100px 0;
}
.whisper-content .cont {
    max-width: 800px;
    margin: 0 auto;
}
.whisper-content .item-box {
    background: #f9f9f9;
    margin-bottom: 20px;
}
.whisper-content .cont .item-box .item {
    padding: 50px 46px 20px 54px;
}
.whisper-content .cont .whisper-list .whisper-title {
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}
.whisper-content .cont .whisper-list .whisper-title i {
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.whisper-content .cont .whisper-list .whisper-title span {
    color: #ff7f21;
}
.whisper-content .cont .whisper-list .whisper-title span.hour {
    margin-right: 20px;
}
.whisper-content .whisper-list .text-cont {
    line-height: 24px;
    margin-bottom: 28px;
}
.whisper-content .whisper-list .img-box {
    overflow: hidden;
}
.whisper-content .whisper-list .img-box img {
    float: left;
    margin: 0px 18px 18px 0;
}
.whisper-content .whisper-list .img-box img:last-child {
    margin-right: 0;
}
.whisper-content .whisper-list .op-list {
    margin-top: 30px;
    overflow: hidden;
}
.whisper-content .whisper-list .op-list p {
    float: left;
    cursor: pointer;
    color: #999999;
}
.whisper-content .whisper-list .op-list p.like {
    margin-right: 50px;
}
.whisper-content .whisper-list .op-list p.off {
    float: right;
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
.whisper-content .whisper-list .op-list p.off span {
    margin-right: 5px;
}

/* 留言板部分 */
.content .review-version {
    padding: 20px;
    border-top: 1px dashed #dddddd;
}
.content .review-version .form {
    text-align: right;
    margin-bottom: 16px;
}
.content .review-version .list-cont .cont {
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}
.content .review-version img {
    float: left;
}
.content .review-version .list-cont .cont .text {
    padding-left: 70px;
    line-height: 22px;
    color: #333;
}
.content .review-version .list-cont .cont .text .tit {
    margin-bottom: 18px;
}
.content .review-version .list-cont .cont .text .data {
    float: right;
}