/* 头部样式 */
.header {
    height: 120px;
    line-height: 120px;
    position: relative;
    font-size: 16px;
}
.header .logo {
    left: 65px;
}
.header .logo, .header .welcome-text, .header .nav {
    position: absolute;
    top: 0;
}
.header .logo span {
    display: none;
}
.header .nav {
    left: 250px;
}
.nav {
    color:'#fff';
}
.header .nav a {
    color: #3f2863;
    margin: 0 40px;
}
.header .welcome-text {
    right: 50px;
}