.search {
    width: 30%;
    position: relative;
}

.blog-input {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    padding: 2px 67px 2px 10px;
    box-sizing: border-box;
    border: 1px solid #999;
    list-style: none;
    outline: none;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    transition: all .5s;
}

.blog-input:hover {
    border-color: skyblue;
}

.blog-input:focus {
    box-shadow: 0px 0px 2px 1px skyblue;
}

.shanchu {
    position: absolute;
    right: 43px;
    line-height: 34px;
    color: #666;
}

.sousuo {
    position: absolute;
    right: 8px;
    line-height: 34px;
    color: black;
    font-size: 24px;
}