.popup {
    width: 5rem;
    height: 5rem;
    border-radius: 10%;
    margin: 1rem 0;
    text-align: center;
    line-height: 5rem;
    background: rgba(255, 255, 255, .7);
    flex-shrink: 0;
    transform: scale(1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s, transform 0.5s;
}
.popup:hover {
    transform: scale(1.3);
}
.package{
    width: 80%;
    position: fixed;
    bottom: -11rem;
    left: 10%;
    transition: all 0.5s ease-out;
    padding: 3rem 0 1rem 0;
}
.package:hover{
    bottom: 0rem;
}
.box {
    background: rgba(255, 255, 255, .7);
    padding: .8rem 10rem;
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
}
.effect7
{
    position:relative;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
content:"";
position:absolute;
z-index:-1;
-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
box-shadow:0 0 20px rgba(0,0,0,0.8);
top:0;
bottom:0;
left:10px;
right:10px;
-moz-border-radius:100px / 10px;
border-radius:100px / 10px;
}
.effect7:after
{
right:10px;
left:auto;
-webkit-transform:skew(8deg) rotate(3deg);
   -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
     -o-transform:skew(8deg) rotate(3deg);
        transform:skew(8deg) rotate(3deg);
}