/*
 * @Author: houxiaoling 
 * @Date: 2020-05-08 14:15:17 
 * @Last Modified by: houxiaoling
 * @Last Modified time: 2020-08-04 16:57:15
 * @Description: 公共样式清除
 */

/* 公共样式清除 */
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
img {
    border: none;
}

