/*
 * @Author: houxiaoling 
 * @Date: 2020-05-08 14:15:17 
 * @Last Modified by: houxiaoling
 * @Last Modified time: 2020-09-03 13:55:19
 * @Description: 公共样式清除
 */

/* 公共样式清除 */
a {
    text-decoration: none;
    cursor: pointer;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    width:100%;
    height: calc(100% - 80px);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
img {
    border: none;
}

/* 覆盖antd的样式 */

/* tabs样式覆盖 */
.ant-tabs-tab.ant-tabs-tab-active {
    color: #ff7f21;
}
.ant-tabs-tab:hover {
    color: #ff7f21;
}
.ant-tabs-tab:focus, .ant-tabs-tab:active {
    color: #ff7f21;
}
.ant-tabs-ink-bar {
    background: #ff7f21;
}


/* 分页样式覆盖 */
.ant-pagination-item-active a {
    color: #fff;
    background-color: #009688;
}

.ant-pagination-item-active {
    border-color: #009688;
}
.ant-pagination-item:focus a {
    color:#fff;
}
.ant-pagination-item:hover a {
    color: #009688;
}
.ant-pagination-item-active:hover a {
    color: #fff;
}
.ant-pagination-item:focus, .ant-pagination-item:hover {
    border-color: #009688;
}
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #009688;
    border-color: #009688;
}
.ant-pagination-prev:focus .ant-pagination-item-link, 
.ant-pagination-next:focus .ant-pagination-item-link, 
.ant-pagination-prev:hover .ant-pagination-item-link, 
.ant-pagination-next:hover .ant-pagination-item-link {
    color: #009688;
    border-color: #009688;
}

/* 按钮样式 */
.ant-btn-primary {
    width: 100px;
    height: 40px;
    color: #fff;
    background: #ff7f21;
    border-color: #ff7f21;
}
.ant-btn-primary:active, .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background:rgba( 255,127,33,0.8);
    border-color: rgba( 255,127,33,0.8);
}

textarea.ant-input:hover, textarea.ant-input:focus {
    border: 1px solid #402760;
}

/* 卡片样式 */
.ant-card-cover {
    padding:10px;
    text-align:center;
}

/* 导航菜单样式 */
.ant-menu-item-selected {
    color:#ff7f21;
}
.ant-menu-item-active {
    color:#ff7f21 !important;
}
.ant-menu-submenu-active, 
.ant-menu-submenu-active .ant-menu-submenu-title, 
.ant-menu-submenu-title:hover {
    color:#ff7f21 !important;
}
.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow::before,
.ant-menu-submenu-inline > .ant-menu-submenu-title:hover .ant-menu-submenu-arrow::after {
    background: linear-gradient(to right, #ff7f21, #ff7f21)
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fbedd2;
}
.ant-menu-submenu-selected {
    color: #ff7f21;
}
.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #ff7f21;
}
/* input样式清除 */
.ant-input-affix-wrapper:focus {
    border-color: #ff7f21;
    box-shadow: 0 0 0 2px rgba(248, 198, 104, 0.2);
}