.content .cont .title a.active, .content .cont .title a:hover {
    color: #ff7f21!important;
}
.content .cont .title a {
    font-size: 16px;
    color: #000!important;
}
.content .cont .title .layui-breadcrumb span {
    position: relative;
    top: -1px;
    margin: 0 16px;
}
/* .layui-breadcrumb span[lay-separator] {
    margin: 0 10px;
    color: #999;
} */

